﻿body {
    background-color: #333333;
    font-family: 'Raleway', sans-serif;
    color: #00afe8;
}



.mxtitle {
    margin: 25px;
    text-align: center;
}

.contentwrapper {
    padding: 30px;
}

.mxbtnwrapper {
}

.historial-medico-txt {
    width: 500px;
}

.diagnostico-medico-txt {
    width: 800px;
}

.mxvidwrapper {
    margin: 15px;
}

    .mxvidwrapper video {
        width: 250px !important;
        height: auto !important;
    }

.mximgwrapper {
    margin: 15px;
}

    .mximgwrapper img {
        width: 250px !important;
        height: auto !important;
    }


.mxbtn {
    border: 0px;
    border-radius: 0px;
    background-color: #00afe8;
    width: 200px;
    height: 60px;
    cursor: pointer;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 130%;
}

    .mxbtn:hover {
        background-color: #1283a5;
    }
